.body{
    margin: 0;
    padding: 0;
}
.titla{
    font-family: 'Nunito', sans-serif;
    margin: 5rem;
    margin-bottom: 3rem;
    font-size: xx-large;
    font-weight: 900;
    color: rgb(21, 50, 91);
}
.titla p{
    z-index: 10;
}
.inputarea{
    margin: 3rem 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.inputarea input{
    padding: 1rem ;
    border-radius: 2rem;
    width: 25%;;
    border: 2px solid rgb(196, 196, 196);
    font-size: large;
    color: rgb(21, 50, 91);
    font-family: 'Nunito', sans-serif;
    width: 35rem;
}
.inputarea input:focus{
    box-shadow: 0px 0px 10px rgba(90, 90, 90, 0.307);
    outline: none;
}
.inputarea img{
    height: 2rem;
    margin: 0 1rem;
}
.Submitbtn{
    border-radius: 2rem;
    font-size: large;
    font-family: 'Nunito', sans-serif;
    margin: 2rem 1rem ;
    padding: 1rem;
    background-color: rgb(21, 50, 91);
    color: white;
    font-weight: 900;
    z-index: 10;
}
.Submitbtn:disabled{
    background-color: grey;
}
.qrcontainer{
    display: flex;
    flex-direction: row;
}
.colu1{
    width: 60%;
}
.iparea{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.qrcodedisplay{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    margin: 3rem 0;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    border: 8px solid #5d61c7;
    z-index: 10;
}
.qrcodedisplay img{
    height: 20rem;

}
.qrcodedisplay p{
    color: rgb(21, 50,91); 
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: larger;
    text-align: center;
}
.Downloadbtn{
    border-radius: 2rem;
    font-size: large;
    font-family: 'Nunito', sans-serif;
    margin: 2rem 1rem ;
    padding: 0.5rem 1rem ;
    background-color: rgb(21, 50, 91);
    color: white;
    font-weight: 900;
}

/* Animated BG CSS starts */
*{
    margin: 0px;
    padding: 0px;
}


.qrcontainer, .area, #root{
    background: rgb(146, 191, 255);  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    
}
.area{
    z-index: -5;
    height: 30vh;
}

.circles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.442);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


@media only screen and (max-width: 425px) {
    .qrcontainer{
        flex-direction: column;
    }
    .colu1{
        width: 100%;
    }
    .inputarea{
        margin: 0;
        flex-direction: column;
    }
    .inputarea img{
        height: 1rem;
        margin: 0 .5rem;
    }
    .inputarea input{
        padding: 0.75rem;
        font-size: small;
        width: 70%;
    }
    .Submitbtn{
        font-size: x-small;
        padding: 0.5rem;
    }
    .iparea{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: center;
    }
    .titla p{
        font-size: x-large;
        text-align: center;
    }
    .titla{
        margin: 3rem 1rem;
    }
    .qrcodedisplay{
        margin: 1rem 3rem;
    }
    .qrcodedisplay img{
        height: 10rem;
    }
    .qrcodedisplay p{
        font-size: medium;
    }
    .Downloadbtn{
        font-size: x-small;
    }
    .circles li{

        bottom: -350px;
    }
    .area{
        height: 20vh;
    }
    .circles li:nth-child(10){
        left: 35%;
        width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    }
    .circles li:nth-child(6){
        left: 25%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    }
    .circles li:nth-child(3){
        left: 30%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    .qrcodedisplay{
        border: 3px solid #5d61c7;
    }

  }


  